.container-fluid{
    padding:0;
}

.form-control, .form-select {
    margin-bottom: 1.0rem;
}

.display-6 {
    font-size: 2.0rem;
}

.sidebar{
    background-color: rgb(25, 135, 84);
    padding:0;
}

.nav-item{
    border-bottom: 1px solid #ccc;
    background-color: rgb(25, 135, 84);
    padding: 5px;
}

.nav-item:hover{
    background-color: rgb(32, 71, 49) !important;
}

.nav-link {
    color: #fff;
}

.nav-link:hover{
    color: #fff;
}

/*.grid {*/
/*  display: grid;*/
/*  grid-template-rows: repeat(1, 1fr);*/
/*  grid-template-columns: repeat(12, 1fr);*/
/*  gap: 1.5rem;*/
/*}*/
